<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ProjectName</key>
		<string>Camelot</string>
		<key>FollowedBy</key>
		<integer>123</integer>
		<key>MediaType</key>
		<string>Image</string>
		<key>MediaURL</key>
		<string>https://pmcdeadline2.files.wordpress.com/2011/06/camelot_20110630203219.jpg</string>
		<key>ProjectTeam</key>
		<string>Camelot Team</string>
		<key>Rating</key>
		<integer>2</integer>
		<key>Favorite</key>
		<false/>
		<key>ProjectId</key>
		<string>ACS034</string>
	</dict>
	<dict>
		<key>ProjectName</key>
		<string>Fusion</string>
		<key>FollowedBy</key>
		<integer>89</integer>
		<key>MediaType</key>
		<string>Image</string>
		<key>MediaURL</key>
		<string>http://www.wallpapermay.com/thumbnails/detail/20120605/poke%20balls%20god%20of%20war%20digital%20art%201920x1200%20wallpaper_www.wallpapermay.com_77.jpg</string>
		<key>ProjectTeam</key>
		<string>Fusion Team</string>
		<key>Rating</key>
		<integer>4</integer>
		<key>Favorite</key>
		<true/>
		<key>ProjectId</key>
		<string>ACS035</string>
	</dict>
	<dict>
		<key>ProjectName</key>
		<string>Kryptonite</string>
		<key>FollowedBy</key>
		<integer>124</integer>
		<key>MediaType</key>
		<string>Image</string>
		<key>MediaURL</key>
		<string>http://thumbs.dreamstime.com/x/electric-circuit-2947480.jpg</string>
		<key>ProjectTeam</key>
		<string>Kryptonite Team</string>
		<key>Rating</key>
		<integer>3</integer>
		<key>Favorite</key>
		<true/>
		<key>ProjectId</key>
		<string>ACS035</string>
	</dict>
	<dict>
		<key>ProjectName</key>
		<string>KLD</string>
		<key>FollowedBy</key>
		<integer>124</integer>
		<key>MediaType</key>
		<string>Image</string>
		<key>MediaURL</key>
		<string>http://thumbs.dreamstime.com/x/electric-circuit-2947480.jpg</string>
		<key>ProjectTeam</key>
		<string>kld.Inc</string>
		<key>Rating</key>
		<integer>3</integer>
		<key>Favorite</key>
		<true/>
		<key>ProjectId</key>
		<string>ACS035</string>
	</dict>
	<dict>
		<key>ProjectName</key>
		<string>Malibu</string>
		<key>FollowedBy</key>
		<integer>124</integer>
		<key>MediaType</key>
		<string>Video</string>
		<key>MediaURL</key>
		<string>https://www.youtube.com/watch?v=LkYDs-q50mY</string>
		<key>ProjectTeam</key>
		<string>Malibu Team</string>
		<key>Rating</key>
		<integer>3</integer>
		<key>Favorite</key>
		<true/>
		<key>ProjectId</key>
		<string>ACS036</string>
	</dict>
	<dict>
		<key>ProjectName</key>
		<string>Gosl</string>
		<key>FollowedBy</key>
		<integer>124</integer>
		<key>MediaType</key>
		<string>Video</string>
		<key>MediaURL</key>
		<string>https://www.youtube.com/watch?v=LkYDs-q50mY</string>
		<key>ProjectTeam</key>
		<string>Gosl GoslInc</string>
		<key>Rating</key>
		<integer>3</integer>
		<key>Favorite</key>
		<true/>
		<key>ProjectId</key>
		<string>ACS036</string>
	</dict>
</array>
</plist>
