<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ProjectName</key>
		<string>Camelot</string>
		<key>FollowedBy</key>
		<integer>123</integer>
		<key>MediaType</key>
		<string>Image</string>
		<key>MediaURL</key>
		<string>http://p1.pichost.me/i/11/1339811.jpg</string>
		<key>ProjectTeam</key>
		<string>Camelot Team</string>
		<key>Rating</key>
		<integer>2</integer>
		<key>Favorite</key>
		<false/>
		<key>ProjectId</key>
		<string>ACS034</string>
	</dict>
	<dict>
		<key>ProjectName</key>
		<string>Fusion</string>
		<key>FollowedBy</key>
		<integer>89</integer>
		<key>MediaType</key>
		<string>Image</string>
		<key>MediaURL</key>
		<string>http://fc09.deviantart.net/images/i/2002/33/c/0/Elements_4-28-02.jpg</string>
		<key>ProjectTeam</key>
		<string>Fusion Team</string>
		<key>Rating</key>
		<integer>4</integer>
		<key>Favorite</key>
		<true/>
		<key>ProjectId</key>
		<string>ACS035</string>
	</dict>
	<dict>
		<key>ProjectName</key>
		<string>Kryptonite</string>
		<key>FollowedBy</key>
		<integer>124</integer>
		<key>MediaType</key>
		<string>Image</string>
		<key>MediaURL</key>
		<string>http://i.imgur.com/9FN8NQE.png</string>
		<key>ProjectTeam</key>
		<string>Kryptonite Team</string>
		<key>Rating</key>
		<integer>3</integer>
		<key>Favorite</key>
		<true/>
		<key>ProjectId</key>
		<string>ACS036</string>
	</dict>
	<dict>
		<key>ProjectName</key>
		<string>KLD</string>
		<key>FollowedBy</key>
		<integer>124</integer>
		<key>MediaType</key>
		<string>Image</string>
		<key>MediaURL</key>
		<string>http://magic-class.ru/images/elemental_magic.jpg</string>
		<key>ProjectTeam</key>
		<string>kld.Inc</string>
		<key>Rating</key>
		<integer>3</integer>
		<key>Favorite</key>
		<true/>
		<key>ProjectId</key>
		<string>ACS037</string>
	</dict>
	<dict>
		<key>ProjectName</key>
		<string>Malibu</string>
		<key>FollowedBy</key>
		<integer>124</integer>
		<key>MediaType</key>
		<string>Video</string>
		<key>MediaURL</key>
		<string>https://www.youtube.com/watch?v=LkYDs-q50mY</string>
		<key>ProjectTeam</key>
		<string>Malibu Team</string>
		<key>Rating</key>
		<integer>3</integer>
		<key>Favorite</key>
		<true/>
		<key>ProjectId</key>
		<string>ACS038</string>
	</dict>
	<dict>
		<key>ProjectName</key>
		<string>Gosl</string>
		<key>FollowedBy</key>
		<integer>124</integer>
		<key>MediaType</key>
		<string>Video</string>
		<key>MediaURL</key>
		<string>https://www.youtube.com/watch?v=LkYDs-q50mY</string>
		<key>ProjectTeam</key>
		<string>Gosl GoslInc</string>
		<key>Rating</key>
		<integer>3</integer>
		<key>Favorite</key>
		<true/>
		<key>ProjectId</key>
		<string>ACS039</string>
	</dict>
	<dict>
		<key>ProjectName</key>
		<string>Plapse</string>
		<key>FollowedBy</key>
		<integer>124</integer>
		<key>MediaType</key>
		<string>Video</string>
		<key>MediaURL</key>
		<string>https://www.youtube.com/watch?v=LkYDs-q50mY</string>
		<key>ProjectTeam</key>
		<string>Plapse Inc</string>
		<key>Rating</key>
		<integer>3</integer>
		<key>Favorite</key>
		<true/>
		<key>ProjectId</key>
		<string>ACS040</string>
	</dict>
	<dict>
		<key>ProjectName</key>
		<string>Blongeme</string>
		<key>FollowedBy</key>
		<integer>124</integer>
		<key>MediaType</key>
		<string>Video</string>
		<key>MediaURL</key>
		<string>https://www.youtube.com/watch?v=LkYDs-q50mY</string>
		<key>ProjectTeam</key>
		<string>Blongeme</string>
		<key>Rating</key>
		<integer>3</integer>
		<key>Favorite</key>
		<true/>
		<key>ProjectId</key>
		<string>ACS041</string>
	</dict>
	<dict>
		<key>ProjectName</key>
		<string>Weludes</string>
		<key>FollowedBy</key>
		<integer>124</integer>
		<key>MediaType</key>
		<string>Image</string>
		<key>MediaURL</key>
		<string>http://thumbs.dreamstime.com/z/vector-design-elements-nature-signs-27762304.jpg</string>
		<key>ProjectTeam</key>
		<string>Weludes T</string>
		<key>Rating</key>
		<integer>3</integer>
		<key>Favorite</key>
		<true/>
		<key>ProjectId</key>
		<string>ACS042</string>
	</dict>
	<dict>
		<key>ProjectName</key>
		<string>Ambtains</string>
		<key>FollowedBy</key>
		<integer>124</integer>
		<key>MediaType</key>
		<string>Image</string>
		<key>MediaURL</key>
		<string>http://hdcoolwallpapers.com/wp-content/uploads/2015/01/HD-3D-Abstract-Wallpapers-601.jpg</string>
		<key>ProjectTeam</key>
		<string>Ambtains LLC</string>
		<key>Rating</key>
		<integer>3</integer>
		<key>Favorite</key>
		<true/>
		<key>ProjectId</key>
		<string>ACS043</string>
	</dict>
	<dict>
		<key>ProjectName</key>
		<string>Shangine</string>
		<key>FollowedBy</key>
		<integer>124</integer>
		<key>MediaType</key>
		<string>Image</string>
		<key>MediaURL</key>
		<string>http://www.wall321.com/thumbnails/detail/20120608/water%20fire%20earth%20elements%20avatar%20the%20last%20airbender%20air%20korra%20symbols%202560x1440%20wallpaper_www.wall321.com_48.jpg</string>
		<key>ProjectTeam</key>
		<string>Gosl Shangine</string>
		<key>Rating</key>
		<integer>3</integer>
		<key>Favorite</key>
		<true/>
		<key>ProjectId</key>
		<string>ACS044</string>
	</dict>
	<dict>
		<key>ProjectName</key>
		<string>Narvier</string>
		<key>FollowedBy</key>
		<integer>35</integer>
		<key>MediaType</key>
		<string>Image</string>
		<key>MediaURL</key>
		<string>http://magic-class.ru/images/elemental_magic.jpg</string>
		<key>ProjectTeam</key>
		<string>Gosl Narvier</string>
		<key>Rating</key>
		<integer>3</integer>
		<key>Favorite</key>
		<true/>
		<key>ProjectId</key>
		<string>ACS045</string>
	</dict>
</array>
</plist>
